# Sandbox
code/accesslist.txt
Properties
.intermediate
tools_asset_info.bin
*.csproj
*.los

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
.vs/
[Oo]bj/
*_bakeresourcecache
*.generated.*
